// Colors :
$main-color: #10cab7;

$secondary-color: #2c4755;

$section-color: #f6f6f6;

$para-color: #777;

// Sizes :
$section-padding: 60px 0 60px;

// time :
$main-transition: 0.3s;
